<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="icon" href="/logo.png" />

    <!-- Primary Meta Tags -->
    <title>Yellow Teapot | Test</title>
    <meta name="title" content="yellow-Yellow Teapot | Test" />
    <meta
      name="description"
      content="Collect your car, Stake it & Claim your rewards."
    />
    <meta name="keywords" content="Art, NFT, Collectible" />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.yellow-teapot.com" />
    <meta property="og:title" content="yellow-Yellow Teapot | Test" />
    <meta
      property="og:description"
      content="Collect your car, Stake it & Claim your rewards."
    />
    <meta property="og:image" content="<%- VITE_APP_HOST_URL %>logo.png" />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://www.yellow-teapot.com" />
    <meta property="twitter:title" content="yellow-Yellow Teapot | Test" />
    <meta
      property="twitter:description"
      content="Collect your car, Stake it & Claim your rewards."
    />
    <meta property="twitter:image" content="<%- VITE_APP_HOST_URL %>logo.png" />
  </head>
  <body>
    <noscript>
      <strong
        >We're sorry but Yellow Teapot | Test doesn't work properly without
        JavaScript enabled. Please enable it to continue.</strong
      >
    </noscript>
    <div class="h-full" id="app"></div>
    <script type="module" src="/src/main.ts"></script>
  </body>
</html>
